<div class="reservas">
    <h2>Reserva tu libro</h2>
    <img src="../../assets/img/reservas.svg" alt="..." />
</div>


<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Correo electronico </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Libro a reservar</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Despertar el corazón</option>
        <option>Inteligencia emocional 2.0</option>
        <option>Tus zonas erróneas</option>
        <option>La riqueza de las naciones</option>
        <option>Por qué fracasan los países</option>
        <option>Repensar la pobreza</option>
        <option>Pensar Rápido, pensar despacio</option>
        <option>La tabla rasa</option>
        <option>El hombre que confundió a su mujer con un sombrero</option>
      </select>
    </div>
    <p>Tiempo de reserva</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked required>
        <label class="form-check-label" for="exampleRadios1">
          5 días
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          15 días
        </label>
      </div>

      <button type="submit" class="btn btn-primary mb-2">Confirmar</button>


  </form>
