form{
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width:300px;
    height:400px; 
    
   
}

h2{
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.reservas{
    text-align: center;
    
}

