
<div class="catalogo">



<img src="../../assets/img/catalogo.svg"  alt="...">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <div class="superacion">
    <h2>Superación personal</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://pymstatic.com/112520/conversions/despertar-el-corazon-default_webp.webp" class="center-block" alt="...">
            <div class="card-body">
              <h5 class="card-title">Despertar el corazón</h5>
              <p class="card-text">Aprenderemos a conocernos y querernos mejor a nosotros mismos, a mejorar nuestras relaciones interpersonales, nuestro autoconocimiento y a liberar tendencias negativas de nuestra vida.</p>
              <a class="btn btn-primary" href="https://telegra.ph/El-despertar-del-corazón-08-21-20" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Sandra García Sánchez-Beato</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://pymstatic.com/19884/conversions/inteligencia-emocional-travis-bradberry-default_webp.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inteligencia emocional 2.0</h5>
              <p class="card-text">La  inteligencia emocional, tal y como confirman muchas investigaciones, está íntimamente relacionada con el bienestar de las personas y el desarrollo personal. Si quieres aprender a dominar este tipo de inteligencia y beneficiarte de ello, este libro es el ideal. </p>
              <a class="btn btn-primary" href="https://telegra.ph/Inteligencia-emocional-20-08-12-19" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Travis Bradberry, Jean Greaves, y Patrick M. Lencioni</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://pymstatic.com/99444/conversions/tus-zonas-erroneas-default_webp.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tus zonas erróneas</h5>
              <p class="card-text">"Tus zonas erróneas" es uno de los libros de autoayuda más leídos en todo el mundo y desde hace más de 40 años millones de personas han logrado encontrar la felicidad gracias a él, y también identificar todos aquellos aspectos de la propia personalidad que nos impiden alcanzarla.</p>
              <a class="btn btn-primary" href="https://telegra.ph/Tus-zonas-erróneas-06-06-21" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Wayne W. Dyer</small>
            </div>
          </div>
        </div>
    </div>
    </div>
    <h2>Economía</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://infolibros.org/wp-content/uploads/2019/11/La-riqueza-de-las-naciones.jpg?ezimgfmt=ng:webp/ngcb33" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">La riqueza de las naciones</h5>
              <p class="card-text">Considerado como la obra precursora de la economía clásica, La riqueza de las naciones introduce una concepción innovadora de la economía, planteando en primer lugar un significado de la riqueza basado en la productividad y la actividad comercial que posee un país.</p>
              <a class="btn btn-primary" href="https://telegra.ph/La-riqueza-de-las-naciones-06-07-56" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Adam Smith</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://infolibros.org/wp-content/uploads/2019/11/Por-que%CC%81-fracasan-los-pai%CC%81ses.jpg?ezimgfmt=ng:webp/ngcb33" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Por qué fracasan los países</h5>
              <p class="card-text">Por qué fracasan los países es un libro que busca dar una respuesta detallada y argumentada al cuestionamiento sobre la pobreza a lo largo de los países, ¿por qué se da?, ¿por qué unos países son pobres y por qué otros no lo son?, o al menos en diferente medida. </p>
              <a class="btn btn-primary" href="#" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Daron Acemoğlu</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://infolibros.org/wp-content/uploads/2019/11/Repensar-la-pobreza.jpg?ezimgfmt=ng:webp/ngcb33" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Repensar la pobreza</h5>
              <p class="card-text">Repensar la pobreza es un análisis razonado acerca del verdadero significado de la pobreza y que considera principalmente la perspectiva de quienes la padecen, se presenta como una obra alejada de todas aquellas suposiciones y criterios que han calado en la creencia popular en torno a las condiciones de vida que caracterizan a las personas pobres.</p>
              <a class="btn btn-primary" href="#" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Abhijit V. Banerjee y Esther Duflo</small>
            </div>
          </div>
        </div>
    </div>
    <h2>Psicología</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1642179940-412B0OhLBL._SL500_.jpg?crop=1xw:1xh;center,top&resize=320%3A%2A" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pensar Rápido, pensar despacio</h5>
              <p class="card-text">De eso, de dos maneras de pensar distintas y de los sesgos y heurísticos que nos permiten tomar decisiones más rápidamente pero a qué precio, trata Pensar rápido, pensar despacio. Para que luego cuando te llegue una impulsiva compra online a casa no digas que no estabas avisado: a veces hay que pararse a pensar antes de decidir.</p>
              <a class="btn btn-primary" href="https://telegra.ph/Pensar-rápido-pensar-despacio-06-07-57" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Daniel Kahneman</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1642179990-51IZsRZbw0L._SL500_.jpg?crop=1xw:1xh;center,top&resize=320%3A%2A" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">La tabla rasa: la negación moderna de la naturaleza humana</h5>
              <p class="card-text">Steven Pinker es un raro superventas entre los autores que no esquivan las cuestiones teóricas más complicadas de la psicología. Incluso si el libro se alarga durante más de 700 páginas y se adentra en aspectos complejos de la teoría de la mente es siempre ameno; los ejemplos, divertidos; y las posiciones de Pinker siempre buscan la polémica.</p>
              <a class="btn btn-primary" href="https://telegra.ph/La-tabla-rasa-07-23-54" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Steven Pinker</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1642180052-41fCRpJ2HWL._SL500_.jpg?crop=1xw:1xh;center,top&resize=320%3A%2A" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">El hombre que confundió a su mujer con un sombrero</h5>
              <p class="card-text">Un hombre con agnosia visual que no reconoce cuanto ve, un marinero que no puede formar recuerdos nuevos, una mujer incapaz de ser consciente de su cuerpo, dos sabios autistas, una mujer que ha perdido el sentido de la izquierda, un estudiante de medicina -el propio Sacks- que hasta arriba de droga desarrolló un olfato imposible… Podrían ser los ingredientes de una colección de cuentos, y en cierto modo lo son, pero antes que nada se tratan de los casos clínicos del agudo neurólogo, brillante observador y popularísimo divulgador que fue siempre Oliver Sacks. La puerta de entrada a la neuropsicología de varias generaciones.</p>
              <a class="btn btn-primary" href="https://telegra.ph/El-hombre-que-confundió-a-su-mujer-con-un-sombrero-08-15-80" role="button">Leer online</a>
              <a class="btn btn-primary" routerLink="/reservas" role="button">Reservar</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Oliver Sacks</small>
            </div>
          </div>
        </div>
    </div>
  </div>