<div class="cover d-flex justify-content-center align-items-center flex-column">
  <form class="form-login" id="emailOK">
      <h5>¡FORMA PARTE DE LA BIBLIOTECA!</h5>
      <input  class ="controls" id="Nombre"  type="text"  name= "nombre"  placeholder="Ingresa tu Nombre" required>
      <input  class ="controls" id="apellido"  type="text"  name= "apellido"  placeholder="Ingresa tu Apellido" required>
      <input  class ="controls" id="correo"  type="email"  name= "usuario"  placeholder="Ingresa tu Email" required>
      <input  class="controls" type="password" name= "clave"  placeholder="Contraseña" required>
      <input class="buttons" type="submit" name="register"  value="Registrarme" id="btn">



  </form>

</div>
